---
layout: default 
banner:
    heading: A whole new world
    subheading: Surfing teaches you to appreciate the finer things in life, to be present, live in the moment, and just breathe.
current-location:
    image: https://source.unsplash.com/Jyg7xHRmXiU
    location: Tuscany
seo: 
    title: This should appear in the browser tab
    description: 
    keywords: 
    social_image: 
    hide-from-google: false
---

<!-- default includes header-nav.html -->
 {% include hero-banner.html %}


 <!-- Fascinating heading about the site // hard coded -->
 <section class="grid grid-cols-2 items-center p-5p bg-light-grey border-y border-black">

    <img src="https://picsum.photos/id/1081/600/400" class="" alt="this is alt text">

    <div>
        <h2 class="text-4xl font-italiana">A fascinating heading about the site</h3>
        <p class="font-montserrat text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas temporibus aliquam rerum accusantium. Accusamus impedit ullam minima, iste sequi laudantium possimus ea porro minus culpa voluptatum enim necessitatibus dolore rerum.</p>
        <a href="#" class="font-italiana border-b border-black uppercase">Read more</a>
    </div>
 </section>



 <!-- upcoming travel destinations -->
 <section class="p-5p text-center">
    <h3 class="font-italiana text-2xl uppercase tracking-widest pb-5p">Upcoming Travel Destinations</h3>

    <div class="grid grid-cols-2 gap-10 items-center">

        <ul class="grid divide-y divide-black border-y border-black font-montserrat">

            {% for upcoming in site.data.destinations.upcoming %}
            <li class="flex justify-between w-full py-5 ">
                <p class="mb-0 leading-9 ">{{ upcoming.location }}</p>
                <p class="mb-0 leading-9">{{ upcoming.dates }}</p>
            </li>
            {% endfor %}

        </ul>



        <div class="flex pl-5p items-center bg-[url('{{ page.current-location.image }}')] bg-cover relative min-h-50">
            <p class="absolute bg-light-grey text-black left-0 bottom-20p font-italiana text-2xl leading-9 pr-5 py-3">Currently in {{ page.current-location.location }}</p>
        </div>


    </div>
 </section>


 <!-- recently on the blog -->
 <section class="bg-light-grey">
    <h3 class="font-italiana uppercase text-center text-3xl p-5 tracking-widest">Recently on the blog...</h3>
    <div class="flex flex-nowrap gap-5 mx-auto overflow-x-scroll pl-1 pr-0 items-center">
        {% for post in site.posts %}
	
        <div class="basis-30p shrink-0 relative pb-5">
            <div class="bg-cover aspect-square relative">
                <img src="{{ post.featured_image }}" alt="{{post.title}}"class="absolute inset-0 w-full h-full object-cover">
            </div>
            
            <div class="p-2">
                <h4 class="uppercase font-montserrat"> {{post.title}} </h4>
                <p class="font-montserrat"> {{post.description }} </p>
                <a href="{{post.url}}" class="uppercase font-italiana border-b border-black">  Read More </a>  
            </div>
        </div>
        
        {% endfor %}
        
    </div>
 </section>