<section class="p-5p md:pl-5p pb-5p grid md:grid-cols-2 gap-1 items-center min-h-screen">
    <div class="bottom-0 pr-10p order-last md:order-first">
        <h2 class="font-italiana text-4xl py-5">{{page.title}}</h2>
        <h3 class="font-montserrat uppercase pb-5">{{page.subtitle}}</h3>
        <p class="font-montserrat pb-5">{{page.description}}</p>
        <a href="#" class="uppercase button font-montserrat mb-5">Buy now</a>
    </div>
    <img src="{{page.product-image}}" class="min-h-screen object-cover order-first md:order-last">
</section> 