---
layout: default
---
<section class="p-5p md:pl-5p pb-5p grid md:grid-cols-2 gap-1 items-center min-h-screen">
    <div class="bottom-0 pr-10p">
        <h2 class="font-italiana text-4xl py-5">{{page.title}}</h2>
        <h3 class="font-montserrat uppercase pb-5">{{page.subtitle}}</h3>
        <p class="font-montserrat pb-5">{{page.description}}</p>
        <a href="#" class="uppercase button font-montserrat mb-5">Buy now</a>
    </div>
    <img src="{{page.product-image}}" class="min-h-screen object-cover">
</section> 



<!-- what's inside section -->
<h3 class="font-italiana text-3xl text-center uppercase">What's inside</h3>

<section class="p-5p">
    <img src="{{page.inside-image}}" class="object-cover aspect-landscape">
</section>


<!-- table of contents and what's included -->
<section class="p-5p">

    <div class="grid md:grid-cols-3 gap-10 items-top">

        <div class="col-span-2 md:pr-5p">
            <h3 class="font-italiana text-2xl uppercase tracking-widest pb-5p">Table of Contents</h3>
            <ul class="grid divide-y divide-dark-grey border-y border-dark-grey font-montserrat">

                {% for item in page.contents %}
                <li class="flex justify-between w-full py-5 ">
                    <p class="mb-0 leading-9 uppercase">{{item.chapter}}</p>
                    <p class="mb-0 leading-9">Page {{item.page}}</p>
                </li>
                {% endfor %}

            </ul>
        </div>


        <div class="md:pl-5p">
            <h3 class="font-italiana text-2xl uppercase tracking-widest pb-5p">What's included</h3>
            <p class="editable font-montserrat">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatem aliquid atque numquam maxime in ad minus unde soluta. Dolorum omnis vitae repellat consectetur nesciunt blanditiis? Magni eius earum dicta.</p>
        </div>


    </div>
 </section>



 <!-- this is a placeholder section to later add the related posts -->
<section class="p-8 bg-stone-200"> 
    <p> Add related products include here later </p>
</section>