---
layout: default
---
{% include product-hero-banner.html %}

<!-- what's inside section -->
<section>
    <h3 class="font-italiana text-3xl text-left md:text-center uppercase pl-5p md:pl-0">What's inside</h3>

    <div class="p-5p">
        <img src="{{page.inside-image}}" class="object-cover aspect-landscape">
        <div class="grid grid-cols-6 gap-2 pt-2">
            {% for item in page.gallery %}
                <img src="{{item.image-path}}" class="inset-0 w-full h-full object-cover" alt="{{item.alt}}">
            {% endfor %}
        </div>
    </div>
</section>


<!-- table of contents and what's included -->
<section class="p-5p bg-light-grey">

    <div class="grid md:grid-cols-3 gap-10 items-top">

        <div class="col-span-2 md:pr-5p">
            <h3 class="font-italiana text-2xl uppercase tracking-widest pb-5p">Table of Contents</h3>
            <ul class="grid divide-y divide-dark-grey border-y border-dark-grey font-montserrat">

                {% for item in page.contents %}
                <li class="flex justify-between w-full py-5 ">
                    <p class="mb-0 leading-9 uppercase">{{item.chapter}}</p>
                    <p class="mb-0 leading-9">Page {{item.page}}</p>
                </li>
                {% endfor %}

            </ul>
        </div>


        <div class="md:pl-5p">
            <h3 class="font-italiana text-2xl uppercase tracking-widest pb-5p">What's included</h3>
            <p class="editable font-montserrat">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatem aliquid atque numquam maxime in ad minus unde soluta. Dolorum omnis vitae repellat consectetur nesciunt blanditiis? Magni eius earum dicta.</p>
        </div>


    </div>
 </section>



 <!-- this is a placeholder section to later add the related posts -->
<section class="p-5p">
 {% if item.type == "Travel Guide" %}
 <a href="{{item.url}}" class="bg-white">
    <img src="{{item.product-image}}" class="aspect-square object-cover">
    <div class="p-5">
        {% if include.type %}
        <p class="font-montserrat bg-light-grey uppercase inline-block p-1 text-sm">{{include.type}}</p>
        {% endif %}
        <h4 class="font-montserrat text-lg uppercase">{{item.title}}</h4>
        <p class="font-montserrat text-sm">{{item.description}}</p>

        {% assign cent-check = item.price | modulo: 100 %}
        <p class="font-montserrat text-sm">
            {% if cent-check > 1 %}
            ${{item.price | divided_by: 100.00}}
            {% else %}
            ${{item.price | divided_by: 100}}
            {% endif %}
        </p>
    </div>
</a>
{% endif %}
</section>